@(formulaire: Form[Lettre])(reponse: Html)

@import helper._
@import helper.twitterBootstrap._

@title = {
    Remplir un chèque 
}

@main(title){

    @if(formulaire.hasErrors) {
        <div class="alert-message error">
            <p>Attention, ce texte ne prend que des nombres entiers !!</p>
        </div>
    }

    @reponse

    @helper.form(action = routes.ConvEnLettre.submit) {
	@inputText(
	    formulaire("valeur"),
	    '_label -> "Valeur",
	    '_help  -> "Entrez un nombre"
	)
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Convertir">
        </div>
    }

}